@charset "utf-8";
$divide: 4.54;
$pswWidth: 320;
$ppr: 320px/$divide/1rem;// 定义单位

// https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
@mixin toRem($property, $values...) {
  $max: length($values);
  $remValues: '';
  @for $i from 1 through $max {
    $value: nth($values, $i) * $divide / $pswWidth;
    $remValues: #{$remValues + $value}rem;
    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }
  #{$property}: $remValues;
}

/* bgColor */
body{
  background-color: #66eda8!important;
}

.wrap-bg-1{
  background-color: #b4ee66!important;
}

/* wrapper-loading */
.wrapper-loading{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: url(http://img14.360buyimg.com/cms/jfs/t3058/302/2527076938/968/51e7f8d3/57e261f5Na97210c4.png) repeat-x #5ec1ff;
  transition: opacity .2s;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
}

.wrapper-loading img{
  position: absolute;
}

.wrapper-loading .banner-balloon{
  position: absolute;
  z-index: 27;
}

.wrapper-loading .balloon-img-active{
  width: 372px/$ppr;
  height: 435px/$ppr;
  top: 198px/$ppr;
  left: 394px/$ppr;
}

.wrapper-loading .balloon-img-brand{
  display: none;
}

.wrapper-loading .balloon-text{
  width: 220px/$ppr;
  left: 435px/$ppr;
  top: 511px/$ppr;
}

.wrapper-loading .banner-status-wrap{
  top: 599px/$ppr;
}

.wrapper-loading .banner-status-wrap .banner-ani-rope{
  left: 239px/$ppr;
  left: 257px/$ppr;
  width: 329px/$ppr;
}

.wrapper-loading .banner-status-wrap .banner-ani-btn{
  left: 310px/$ppr;
  left: 328px/$ppr;
  top: 132px/$ppr;
  width: 509px/$ppr;
  height: 154px/$ppr;
}

.wrapper-loading .banner-status-wrap .banner-ani-joy{
  width: 226px/$ppr;
  height: 246px/$ppr;
  top: -52px/$ppr;
  left: 528px/$ppr;
  left: 556px/$ppr;
  z-index: 30;
}

.wrapper-loading .banner-status-wrap .banner-ani-gas{
  width: 79px/$ppr;
  height: 56px/$ppr;
  top: 205px/$ppr;
  left: 843px/$ppr;
  left: 861px/$ppr;
}

.wrapper-loading .banner-status-wrap .banner-ani{
  opacity: 1;
  overflow: visible;
}

.wrapper-loading .banner-status-wrap .banner-ani img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
}

/* loading-process */
.loading-process{
  position: absolute;
  top: 1148px/$ppr;
  left: 112px/$ppr;
  width: 878px/$ppr;
  height: 60px/$ppr;
  background: #c3d386;
  border-radius: 30px/$ppr;
  text-align: center;
}

.loading-process-ed{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 30px/$ppr;
  background: #fed819;
}

.loading-process-no{
  color: #fff;
  font-size: 40px/$ppr;
  font-weight: bold;
  position: relative;
  z-index: 3;
  line-height: 60px/$ppr;
}

.loading-process-p{
  color: #0063a0;
  font-size: 40px/$ppr;
  line-height: 90px/$ppr;
  position: absolute;
  top: 1212px/$ppr;
  width: 100%;
  text-align: center;
}

/* bt_nav_module */
.bt_nav_module.buttom_suction{
  z-index: 19;
}

/* wrapper */

.wrapper{
  font-family: "Microsoft YaHei", Verdana,Arial,Helvetica,sans-serif;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transition: opacity .1s .2s;
  -webkit-transition: opacity .1s  .2s;
  -o-transition: opacity .1s  .2s;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
}

.wrap-banner img{
  display: block;
}

.banner-btn{
  position: absolute;
  top: 40px/$ppr;
}

.banner-btn-main{
  left: 11px/$ppr;
  width: 255px/$ppr;
  height: 74px/$ppr;
}

.banner-btn-rule{
  right: 10px/$ppr;
  width: 210px/$ppr;
  height: 50px/$ppr;
  top: 52px/$ppr;
}

.wrap-flr0{
  background-color: #97f0f8;
}

.wrap-flr1{
background-color: #66eea8;
}

.wrap-flr2{
  background-color: #cb97f8;
 }

.wrap-flr3{
  background-color: #f8f097;
}

.floor-hd img{
  display: block;
}
.z-three{
  @include toRem(padding,20,16,33,26);
  font-size: 0;
}

.z-three a{
  display: inline-block;
  width: 351px/$ppr;
  height: 510px/$ppr;
  margin-right: 10px/$ppr;
  text-align: center;
  background-color: #fff;
}

.z-three img{
  margin: 5%;
  width: 90%;
  display: block;
}

.z-three .goods-name{
  display: block;
  font-size: 36px/$ppr;
  font-weight: bold;
  color: #000000;
  padding: 10px/$ppr 10px/$ppr 0;
  height: 70px/$ppr;
  line-height: 70px/$ppr;
  overflow: hidden;
}

.z-three .goods-price{
  font-size: 46px/$ppr;
  color: #c30c0c;
  font-weight: bold;
  height: 65px/$ppr;
  line-height: 65px/$ppr;
}

/*  banner-overflow-wrap */
.wrap-banner{
  position: relative;
}

.banner-overflow-wrap{
  position: absolute;
  top:430px/$ppr;
  left: 0;
  width: 100%;
  z-index: 27;
}

.banner-overflow-wrap .banner-balloon-div{
  position: relative;
  width: 10000px/$ppr;
  /*height: 1086px/$ppr;*///@fixme delete
  font-size: 0;
  margin-left: 290px/$ppr;
  transition:all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}

.banner-overflow-wrap .banner-balloon{
  display: inline-block;
  margin:0 27px/$ppr;
  height: 618px/$ppr;
  width: 526px/$ppr;
  transition:all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  position: relative;
  vertical-align: top;
}

.banner-overflow-wrap .banner-balloon img{
  position: absolute;
  top:0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.banner-overflow-wrap .banner-balloon .balloon-img-brand{
  width: 376px/$ppr;
  height: 355px/$ppr;
  left: 61px/$ppr;
  top: 71px/$ppr;
  opacity: 1;
}

.balloon-text{
  left: 61px/$ppr;
  top: 457px/$ppr;
  position: absolute;
  width: 346px/$ppr;
  height: 48px/$ppr;
  line-height: 48px/$ppr;
  color: #89207e;
  font-size: 36px/$ppr;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.banner-overflow-wrap .balloon-active .balloon-img-active{
  opacity: 1;
  /*width: 526px/$ppr;
  height: 618px/$ppr;*/
}

.banner-overflow-wrap .balloon-no-active .balloon-img-brand{
  width: 317px/$ppr;
  height: 299px/$ppr;
  left: 92px/$ppr;
  top: 108px/$ppr;
  opacity: 0.6;
}

.banner-overflow-wrap .balloon-no-active .balloon-text{
  width: 268px/$ppr;
  left: 92px/$ppr;
  top: 429px/$ppr;
  color: #89207e;
  font-size: 24px/$ppr;
  overflow: hidden;
  display: block;
}

.banner-overflow-wrap .balloon-no-active .balloon-img-no-active{
  opacity: 1;
  height: 520px/$ppr;
  width: 442px/$ppr;
  top: 49px/$ppr;
  left: 42px/$ppr;
}

/* banner-status-wrap */
.banner-status-wrap{
  position: absolute;
  top:1012px/$ppr;
  left: 0;
  width: 100%;
  height: 396px/$ppr;
}

.banner-status-wrap .banner-ani{
  position: absolute;
  transition:all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  opacity: 0;
}

.banner-status-wrap .banner-ani img{
  display: block;
  width: 100%;
}

.banner-ani-rope{
  left: 124px/$ppr;
  left: 138px/$ppr;
  top: 0;
  width: 451px/$ppr;
  height: 352px/$ppr;
  overflow: hidden;
}

.banner-status-wrap .banner-ani-rope .banner-ani-rope-active,.banner-status-wrap .banner-ani-rope .banner-ani-rope-yjs{
  position: absolute;
  top:0;
  left: 0;
}

.banner-status-wrap .banner-ani-rope .banner-ani-rope-active{
  width: 451px/$ppr;
  height: 352px/$ppr;
}

.banner-status-wrap .banner-ani-rope .banner-ani-rope-yjs{
  width: 339px/$ppr;
  height: 204px/$ppr;
  top: 147px/$ppr;
}

/*.banner-ani-joy{
  top: -149px/$ppr;
  left: 626px/$ppr;
  left: 640px/$ppr;
  width: 333px/$ppr;
  z-index: 28;
}*/

.banner-ani-btn-tip{
  width: 403px/$ppr;
  height: 141px/$ppr;
  top: 35px/$ppr;
  left: 257px/$ppr;
  left: 275px/$ppr;
}

.banner-ani-btn{
  width: 697px/$ppr;
  height: 207px/$ppr;
  top: 182px/$ppr;
  left: 220px/$ppr;
  left: 234px/$ppr;
  overflow: hidden;
}

.banner-ani-btn-text{
  width: 370px/$ppr;
  left: 382px/$ppr;
  left: 396px/$ppr;
  top: 184px/$ppr;
}

.banner-status-wrap .banner-ani-btn-text img, .banner-status-wrap .banner-ani-rope img,.banner-status-wrap .banner-ani-btn img{
  display: none;
}

.banner-ani-gas{
  width: 106px/$ppr;
  left: 948px/$ppr;
  left: 964px/$ppr;
  top: 282px/$ppr;
  opacity: 0;
}

/* banner-status-active、banner-status-wks、banner-status-yjs */
.wrap-banner .banner-status-yjs .banner-ani-btn{

}

/*.wrap-banner .banner-status-yjs .banner-ani-rope-yjs{
  width: 339px/$ppr;
  height: 204px/$ppr;
  top: 147px/$ppr;
}*/

.banner-status-active .banner-ani-btn-text .banner-ani-btn-text-daqi,.banner-status-active .banner-ani-rope .banner-ani-rope-active,.banner-status-active .banner-ani-btn .banner-ani-btn-active,.banner-status-wks .banner-ani-rope .banner-ani-rope-active,.banner-status-wks .banner-ani-btn .banner-ani-btn-active{
  display: block;
}

.banner-status-wks .banner-ani-btn-text .banner-ani-btn-text-wks{
  display: block;
}

.banner-status-yjs .banner-ani-btn-text .banner-ani-btn-text-yjs,.banner-status-yjs .banner-ani-rope .banner-ani-rope-yjs,.banner-status-yjs .banner-ani-btn .banner-ani-btn-yjs{
  display: block;
}

/* banner-status-wrap-hide */
.banner-status-wrap-hide .banner-ani{
  opacity: 0;
}

.banner-status-wrap-hide .banner-ani-rope{
  width: 0;
  opacity: 1;
  transition:all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}

.banner-status-wrap-hide .banner-ani-btn,.banner-status-wrap-hide .banner-ani-btn-text{
  transition:all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  /*top: 389px/$ppr;
  height: 0;
  opacity: 1;*/
}

/* banner-status-wrap-show */
.banner-status-wrap-show .banner-ani,.banner-status-wrap-show.banner-status-active .banner-ani-btn-tip{
  opacity: 1;
}

.banner-status-wrap-show .banner-ani-btn-tip{
  opacity: 0;
}


.banner-status-wrap-show .banner-ani-rope-active{
  transition: opacity .2s .3s;
  -webkit-transition: opacity .2s .3s;
  -o-transition: opacity .2s .3s;
  width: 451px/$ppr;
}

.banner-status-wrap-show .banner-ani-rope-yjs{
  transition: opacity .2s .3s;
  -webkit-transition: opacity .2s .3s;
  -o-transition: opacity .2s .3s;
  width: 339px/$ppr;
}

.banner-status-wrap-show .banner-ani-btn,.banner-status-wrap-show .banner-ani-btn-text{
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  /*top: 182px/$ppr;
  height: 207px/$ppr;*/
}

.banner-status-wrap-show .banner-ani-gas{
  opacity: 0;
}

/* wrapper-success */
.wrapper-success{
  position: absolute;
  width: 874px/$ppr;
  height: 819px/$ppr;
  top: 398px/$ppr;
  left: 127px/$ppr;
  z-index: 35;
  display: none;
}

.wrap-tips-info{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tip-info-brand,.banner-overflow-wrap .banner-balloon .got-info-brand{
  margin: 25px/$ppr auto 7px/$ppr;
  display: block;
  width: 336px/$ppr;
  height: 181px/$ppr;
  position: relative;
}

.tip-info-money{
  left: 393px/$ppr;
  top: 410px/$ppr;
  position: absolute;
  font-size: 84px/$ppr;
  font-style: italic;
}

.tip-info-limit{
  position: absolute;
  left: 301px/$ppr;
  top: 508px/$ppr;
  font-size: 36px/$ppr;
}

.suc-info-text-limit{
  left: 0;
  top: 584px/$ppr;
  position: absolute;
  font-size: 32px/$ppr;
  width: 100%;
  text-align: center;
}

.suc-btn{
  position: absolute;
  width: 30%;
  height: 9.8%;
  top: 79.73%;
  left: 17.39%;
}

.suc-btn-share{
  left: 53.43%;
}

#closeBtn2{
  width: 6.86%;
  height: 6.86%;
  position: absolute;
  left: 80.77%;
  top: 8.89%
}

/* wrapper-got-coupon */
/*.wrapper-got-coupon{
  position: absolute;
  left: 256px/$ppr;
  left: 275px/$ppr;
  left: -44px/$ppr;
  top: -25px/$ppr;
  width: 700px/$ppr;
  height: 1000px/$ppr;
  display: none;
}

.banner-overflow-wrap .wrapper-got-coupon img{
  opacity: 1;
}

.wrap-got-info{
  width: 594px/$ppr;
  margin-left: 18px/$ppr;
  margin-top: 25px/$ppr;
}

.got-info-money{
  left: 232px/$ppr;
  top: 230px/$ppr;
}

.got-info-limit{
  left: 143px/$ppr;
  top: 324px/$ppr;
}

.wrapper-got .wrapper-got-coupon{
  display: block;
}

.wrapper-got .balloon-ing .balloon-img-active,.wrapper-got .balloon-ing .balloon-text,.wrapper-got .banner-status-active.banner-status-wrap{
  opacity: 0;
}*/

/* tipsPressError */
#wrapperError{
  width: 451px/$ppr;
  height: 259px/$ppr;
  top: 583px/$ppr;
  position: absolute;
  left: 50%;
  margin-left: -225px/$ppr;
  display: none;
  z-index: 34;
  background: url(http://img12.360buyimg.com/cms/jfs/t3058/287/2745373566/48466/15ff6fe5/57e50c56N1eb865a2.png) no-repeat;
  background-size: cover;
}

.wrapper-error-text{
  font-size: 42px/$ppr;
  color: #000;
  text-align: center;
  margin-top: 50px/$ppr;
}

/* balloon-active-boom */
.balloon-img-boom{
  width: 840px/$ppr;
  height: 785px/$ppr;
  left: -157px/$ppr;
  top: -5px/$ppr;
  position: absolute;
  opacity: 0;
  background-size: cover;
  background-image: url(http://img13.360buyimg.com/cms/jfs/t3292/137/2497308441/125056/7232f6d1/57e379e9N74a7473f.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  transform-origin: 50% 50%;
}

.banner-overflow-wrap .balloon-active-boom .balloon-img-active,.banner-overflow-wrap .balloon-active-boom .balloon-img-brand,.banner-overflow-wrap .balloon-active-boom .balloon-text{
  //animation: balloonScale 1.2s;
  animation: balloonScale 3s linear;
  animation-fill-mode:forwards;
}

.balloon-active-boom .balloon-img-boom{
  //animation: balloonBoom .8s .4s steps(5);
  animation: balloonBoom .4s 2.4s steps(5);
  animation-fill-mode:forwards;
}

.banner-overflow-wrap .balloon-active-boom{
  transform: scale(1.1) translateY(-10%);
  -webkit-transform: scale(1.1) translateY(-10%);
  -o-transform: scale(1.1) translateY(-10%);
  transition: transform 2.4s linear;
  -webkit-transition: transform 2.4s linear;
  -o-transition: transform 2.4s linear;
}

.banner-overflow-wrap .balloon-active-reset .balloon-img-active,.banner-overflow-wrap .balloon-active-reset .balloon-img-brand,.banner-overflow-wrap .balloon-active-reset .balloon-text{
  animation: balloonReset 3s;
  -webkit-animation: balloonReset 3s;
  -o-animation: balloonReset 3s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
}

.banner-overflow-wrap .balloon-active-boom-pause{
  transform: scale(1) translateY(0);
  -webkit-transform: scale(1) translateY(0);
  -o-transform: scale(1) translateY(0);
  transition: transform .5s linear;
  -webkit-transition: transform .5s linear;
  -o-transition: transform .5s linear;
}

@keyframes balloonScale {
  0%{
    transform: scale(1);
    opacity: 1;
  }
  75%{
    transform: scale(1.1);
    opacity: 0.8;
  }
  83%{
    transform: scale(1.2);
    opacity: 0;
  }
  100%{
    transform: scale(1.2);
    opacity: 0;
  }
}

@-webkit-keyframes balloonScale {
  0%{
    transform: scale(1);
    opacity: 1;
  }
  75%{
    transform: scale(1.1);
    opacity: 0.8;
  }
  83%{
    transform: scale(1.2);
    opacity: 0;
  }
  100%{
    transform: scale(1.2);
    opacity: 0;
  }
}

@-o-keyframes balloonScale {
  0%{
    transform: scale(1);
    opacity: 1;
  }
  75%{
    transform: scale(1.1);
    opacity: 0.8;
  }
  83%{
    transform: scale(1.2);
    opacity: 0;
  }
  100%{
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes balloonBoom {
  0%{
    opacity: 0.6;
  }
  100%{
    background-position: 0 -2431px/$ppr;
    opacity: 0;
  }
}

@-webkit-keyframes balloonBoom {
  0%{
    opacity: 0.6;
  }
  100%{
    background-position: 0 -2431px/$ppr;
    opacity: 0;
  }
}

@-o-keyframes balloonBoom {
  0%{
    opacity: 0.6;
  }
  100%{
    background-position: 0 -2431px/$ppr;
    opacity: 0;
  }
}

@keyframes balloonReset {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@-webkit-keyframes balloonReset {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@-o-keyframes balloonReset {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.banner-status-ani .banner-ani-btn,.banner-status-ani .banner-ani-btn-text{
  animation: btnTransform .7s;
  animation-fill-mode: forwards;
}

.banner-status-ani .banner-ani-joy{
  transition: none;
  -webkit-transition: none;
  -o-transition: none;
  animation: aniJoy .7s steps(4);
  -webkit-animation: aniJoy .7s steps(4);
  -o-animation: aniJoy .7s steps(4);
}

@keyframes aniJoy {
  0%{
  background-position: 0 0;
  }
  100%{
    background-position: 0 -1632px/$ppr;
  }
}

@-webkit-keyframes aniJoy {
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 0 -1632px/$ppr;
  }
}

@-o-keyframes aniJoy {
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 0 -1632px/$ppr;
  }
}

@keyframes btnTransform {
  0%{
    transform: scaleX(1) scaleY(1);
  }
  100%{
    transform: scaleX(1.1) scaleY(0.9);
  }
}

@-webkit-keyframes btnTransform {
  0%{
    transform: scaleX(1) scaleY(1);
  }
  100%{
    transform: scaleX(1.1) scaleY(0.9);
  }
}

@-o-keyframes btnTransform {
  0%{
    transform: scaleX(1) scaleY(1);
  }
  100%{
    transform: scaleX(1.1) scaleY(0.9);
  }
}

.banner-status-ani .banner-ani-rope{
  animation: ropeTransform .7s;
  animation-fill-mode: forwards;
}

.banner-status-ani .banner-ani-gas{
  animation: gasTransform 1s infinite;
}

@keyframes gasTransform {
  0%{
    transform: translateX(-30%) translateY(65%) scale(0.1);
    opacity: 0;
  }
  50%{
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
  100%{
    transform: translateX(-30%) translateY(65%) scale(0.1);
    opacity: 0;
  }
}

@-webkit-keyframes gasTransform {
  0%{
    transform: translateX(-30%) translateY(65%) scale(0.1);
    opacity: 0;
  }
  50%{
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
  100%{
    transform: translateX(-30%) translateY(65%) scale(0.1);
    opacity: 0;
  }
}

@-o-keyframes gasTransform {
  0%{
    transform: translateX(-30%) translateY(65%) scale(0.1);
    opacity: 0;
  }
  50%{
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
  100%{
    transform: translateX(-30%) translateY(65%) scale(0.1);
    opacity: 0;
  }
}

@keyframes ropeTransform {
  0%{
    transform: scaleX(1);
  }
  100%{
    transform: scaleX(1.01) translate(-1%);
  }
}

@-webkit-keyframes ropeTransform {
  0%{
    transform: scaleX(1);
  }
  100%{
    transform: scaleX(1.01) translate(-1%);
  }
}

@-o-keyframes ropeTransform {
  0%{
    transform: scaleX(1);
  }
  100%{
    transform: scaleX(1.01) translate(-1%);
  }
}

.banner-ani-joy{
  background: url(http://img20.360buyimg.com/cms/jfs/t3223/55/2780108283/69747/4de2a0eb/57e65f32N9830cc39.png) no-repeat;
  background-size: cover;
  position: absolute;
  /*top: -149px/$ppr;
  left: 626px/$ppr;
  left: 640px/$ppr;
  width: 333px/$ppr;*/
  width: 360px/$ppr;
  height: 408px/$ppr;
  top: -166px/$ppr;
  left: 589px/$ppr;
  left: 603px/$ppr;
  z-index: 28;
}

/* wrapper-rule */
.wrapper-rule {
  width: 783px/$ppr;
  padding: 20px/$ppr;
  background: #e0424f;
  position: absolute;
  top: 133px/$ppr;
  left: 155px/$ppr;
  border-radius: 20px/$ppr;
  z-index: 35;
  display: none;
}

.rule-hd{
  height: 100px/$ppr;
  line-height: 100px/$ppr;
  color: #000;
  font-size: 48px/$ppr;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
}

.rule-bd{
  color: #fff;
  font-size: 36px/$ppr;
}

.rule-bd p{
  margin-bottom: 10px/$ppr;
}

.wrapper-rule .rule-btn-known{
  background: url(http://img20.360buyimg.com/cms/jfs/t3247/194/2882610083/5065/912ff278/57e669aaNc3d93514.png);
  width: 300px/$ppr;
  height: 86px/$ppr;
  margin: 45px/$ppr auto 30px/$ppr;
  display: block;
  background-size: cover;
}

.wrapper-rule .rule-btn-close{
  background: url(http://img11.360buyimg.com/cms/jfs/t3244/320/2796740563/1781/1465e8f7/57e669abN20e42b1c.png);
  width: 61px/$ppr;
  height: 61px/$ppr;
  background-size: cover;
  position: absolute;
  right: 20px/$ppr;
  top: 20px/$ppr;
}

/* wrap-flr8:生活旅行处理 */
.wrap-flr8 .z-three a{
  width: 100%;
}

.wrap-flr8 .z-three .goods-name,.wrap-flr8 .z-three .goods-price,.wrap-flr6 .z-three .goods-name,.wrap-flr6 .z-three .goods-price{
  display: none;
}

/* wrapper-no-chance */
.wrapper-no-chance .banner-status-active .banner-ani-rope .banner-ani-rope-active,.wrapper-no-chance .banner-status-active .banner-ani-btn-text{
  display: none;
}

.wrapper-no-chance .banner-status-active .banner-ani-rope .banner-ani-rope-yjs{
  display: block;
}

/* reset sys */
.general_purpose.goto_top{
  right: 0;
}