<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>国庆游园会</title>
    <link rel="stylesheet" href="//static.360buyimg.com/jdcsh/babel/dist/css/parser.css">
    <script>/**
     * MobileWeb 通用功能助手，包含常用的 UA 判断、页面适配、search 参数转 键值对。
     * 该 JS 应在 head 中尽可能早的引入，减少重绘。
     *
     * fixScreen 方法根据两种情况适配，该方法自动执行。
     *      1. 定宽： 对应 meta 标签写法 --
     *          该方法会提取 width 值，主动添加 scale 相关属性值。
     *          注意： 如果 meta 标签中指定了 initial-scale， 该方法将不做处理（即不执行）。
     *      2. REM: 不用写 meta 标签，该方法根据 dpr 自动生成，并在 html 标签中加上 data-dpr 和 font-size 两个属性值。
     *          该方法约束：IOS 系统大 dpr = 3，其它系统 dpr = 1，页面每 dpr 大宽度（即页面宽度/dpr） = 750，REM 换算比值为 16。
     *          对应 css 开发，任何弹性尺寸均使用 rem 单位，rem 默认宽度为 视觉稿宽度 / 16;
     *              scss 中 $ppr(pixel per rem) 变量写法 -- $ppr: 750px/16/1rem;
     *                      元素尺寸写法 -- html { font-size: $ppr*1rem; } body { width: 750px/$ppr; }。

     */
    window.mobileUtil = (function(win, doc) {
        var UA = navigator.userAgent,
                isAndroid = /android|adr/gi.test(UA),
                isIos = /iphone|ipod|ipad/gi.test(UA) && !isAndroid, // 据说某些国产机的UA会同时包含 android iphone 字符
                isMobile = isAndroid || isIos;  // 粗略的判断

        return {
            isAndroid: isAndroid,
            isIos: isIos,
            isMobile: isMobile,

            isNewsApp: /NewsApp\/[\d\.]+/gi.test(UA),
            isWeixin: /MicroMessenger/gi.test(UA),
            isQQ: /QQ\/\d/gi.test(UA),
            isYixin: /YiXin/gi.test(UA),
            isWeibo: /Weibo/gi.test(UA),
            isTXWeibo: /T(?:X|encent)MicroBlog/gi.test(UA),

            tapEvent: isMobile ? 'tap' : 'click',

            /**
             * 缩放页面
             */
            fixScreen: function() {
                var metaEl = doc.querySelector('meta[name="viewport"]'),
                        metaCtt = metaEl ? metaEl.content : '',
                        matchScale = metaCtt.match(/initial\-scale=([\d\.]+)/),
                        matchWidth = metaCtt.match(/width=([^,\s]+)/);

                if ( !metaEl ) { // REM
                    var docEl = doc.documentElement,
                            maxwidth = docEl.dataset.mw || 750, // 每 dpr 大页面宽度
                            dpr = isIos ? Math.min(win.devicePixelRatio, 3) : 1,
                            scale = 1 / dpr,
                            tid;

                    docEl.removeAttribute('data-mw');
                    docEl.dataset.dpr = dpr;
                    metaEl = doc.createElement('meta');
                    metaEl.name = 'viewport';
                    metaEl.content = fillScale(scale);
                    docEl.firstElementChild.appendChild(metaEl);

                    var refreshRem = function() {
                        var width = docEl.getBoundingClientRect().width;
                        if (width / dpr > maxwidth) {
                            width = maxwidth * dpr;
                        }
                        var rem = width / 16;
                        docEl.style.fontSize = rem + 'px';
                        if(window.location.href.indexOf('/visualediting/visualEditing.html?veBean.pageInstanceId')>-1){
                            docEl.style.fontSize = '20px';
                        }
                    };

                    win.addEventListener('resize', function() {
                        clearTimeout(tid);
                        tid = setTimeout(refreshRem, 300);
                    }, false);
                    win.addEventListener('pageshow', function(e) {
                        if (e.persisted) {
                            clearTimeout(tid);
                            tid = setTimeout(refreshRem, 300);
                        }
                    }, false);

                    refreshRem();
                } else if ( isMobile && !matchScale && ( matchWidth && matchWidth[1] != 'device-width' ) ) { // 定宽
                    var	width = parseInt(matchWidth[1]),
                            iw = win.innerWidth || width,
                            ow = win.outerWidth || iw,
                            sw = win.screen.width || iw,
                            saw = win.screen.availWidth || iw,
                            ih = win.innerHeight || width,
                            oh = win.outerHeight || ih,
                            ish = win.screen.height || ih,
                            sah = win.screen.availHeight || ih,
                            w = Math.min(iw,ow,sw,saw,ih,oh,ish,sah),
                            scale = w / width;

                    if ( scale < 1 ) {
                        metaEl.content = metaCtt + ',' + fillScale(scale);
                    }
                }
                else{
                    //tmp process
                    var docEl = doc.documentElement,
                            maxwidth = docEl.dataset.mw || 750, // 每 dpr 大页面宽度
                            dpr = isIos ? Math.min(win.devicePixelRatio, 3) : 1,
                            scale = 1 / dpr,
                            tid;

                    docEl.removeAttribute('data-mw');
                    docEl.dataset.dpr = dpr;
                    metaEl = doc.querySelector('meta[name="viewport"]');
                    //metaEl.content = fillScale(scale);
                    var tArray = metaEl.content.split(',');
                    //metaEl.content = tArray[0]+ ',' + fillScale(scale) + ',' + tArray[3];

                    var refreshRem = function() {
                        var width = docEl.getBoundingClientRect().width;
                        if (width / dpr > maxwidth) {
                            width = maxwidth * dpr;
                        }
                        var rem = width / 16;
                        docEl.style.fontSize = rem + 'px';
                        if(window.location.href.indexOf('/visualediting/visualEditing.html?veBean.pageInstanceId')>-1){
                            docEl.style.fontSize = '20px';
                        }
                    };

                    win.addEventListener('resize', function() {
                        clearTimeout(tid);
                        tid = setTimeout(refreshRem, 300);
                    }, false);
                    win.addEventListener('pageshow', function(e) {
                        if (e.persisted) {
                            clearTimeout(tid);
                            tid = setTimeout(refreshRem, 300);
                        }
                    }, false);

                    refreshRem();
                }

                function fillScale(scale) {
                    return 'initial-scale=' + scale + ',maximum-scale=' + scale + ',minimum-scale=' + scale;
                }
            },

            /**
             * 转href参数成键值对
             * @param href {string} 指定的href，默认为当前页href
             * @returns {object} 键值对
             */
            getSearch: function(href) {
                href = href || win.location.search;
                var data = {},reg = new RegExp( "([^?=&]+)(=([^&]*))?", "g" );
                href && href.replace(reg,function( $0, $1, $2, $3 ){
                    data[ $1 ] = $3;
                });
                return data;
            }
        };
    })(window, document);

    // 默认直接适配页面
    mobileUtil.fixScreen();</script>
    <link rel="stylesheet" href="css/1001.css"/>
</head>
<body>
<!-- tracking -->
<div class="tracking hide">
    <script type="text/javascript">
        var jap = {
            siteId:'MO-J2011-1', // 站点编号，替换jaq的account字段
            autoLogPv:true        //  页面加载后自动上报pv
        };
    </script>
    <script type="text/javascript" src="//wl.jd.com/unify.min.js"></script>
</div>
<!--S container -->
<div id="J_bableOpt" class="bab_opt_con" data-activityId="3SuRYXJPCmnjBnib1FUVhUmvTG3" data-pageId="11491">
    <!-- S import m_header -->
    <div id="m_common_header" class="bab_opt_header hide"></div>
    <!-- E import m_header -->

    <div class="bab_opt_content">
        <div class="bab_opt_loading jdui_load">
            <span class="jdui_load_in"></span>
        </div>
        <div id="J_bableOptPage" class="bab_opt_page">
            <div class="bab_opt_mod bab_opt_mod_1 customcode" data-floorNum="1" data-template="customcode">
	<textarea class="template_code hide">
		<div class="wrapper"></div>
	</textarea>
            </div>
        </div>
        <div class="bab_opt_footer hide"></div>
    </div>
</div>
<!--E container -->
<!-- S wrapper -->
<div class="wrapper">
    <!-- S banner -->
    <div class="wrap-banner">
        <!-- @fixme： 测试用，要删除 -->
        <div onclick="$('#bannerStatusWrap').removeClass('banner-status-wrap-show').addClass('banner-status-wrap-hide')">隐藏动画</div>
        <div onclick="$('#bannerStatusWrap').removeClass('banner-status-wrap-hide').addClass('banner-status-wrap-show')">显示动画</div>

        <img src="http://img12.360buyimg.com/cms/jfs/t3289/226/2298505682/137299/4b8f3706/57df991fN02e1f595.jpg"
             alt="" width="100%"/>
        <img src="http://img10.360buyimg.com/cms/jfs/t3166/81/2289497998/26569/8a2f9222/57df9933N29fbc460.png" alt="" width="100%"/>
        <div class="banner-overflow-wrap" id="bannerBalloonWrap">
            <div class="banner-balloon-div" id="bannerBalloonDiv">
                <span class="balloon-ed balloon-no-active banner-balloon">
                    <img src="http://img30.360buyimg.com/cms/jfs/t3235/82/2302056846/90205/a9d6eec1/57df8924Nd56326b5.png" alt="" class="balloon-img-active"/>
                    <img src="http://img30.360buyimg.com/cms/jfs/t3046/309/2271453327/196729/a30c84c1/57dfa7d4N0eeb2ec1.png" alt="" class="balloon-img-no-active"/>
                    <img src="http://img20.360buyimg.com/cms/jfs/t3058/161/2438556782/29767/3a6a6fe0/57e0dcfcN5b3c5426.png" alt="" class="balloon-img-brand"/>
                    <span class="balloon-text">360手机安全新高度</span>
                </span>
                <span class="balloon-ing balloon-no-active banner-balloon">
                    <img src="http://img30.360buyimg.com/cms/jfs/t3235/82/2302056846/90205/a9d6eec1/57df8924Nd56326b5.png" alt="" class="balloon-img-active"/>
                    <img src="http://img30.360buyimg.com/cms/jfs/t3046/309/2271453327/196729/a30c84c1/57dfa7d4N0eeb2ec1.png" alt="" class="balloon-img-no-active"/>
                    <img src="http://img14.360buyimg.com/cms/jfs/t3133/102/2378754365/21476/cbc40543/57e0dcfcNf0a4454d.png" alt="" class="balloon-img-brand"/>
                    <span class="balloon-text">乐视</span>
                </span>
                <span class="balloon-to balloon-no-active banner-balloon">
                    <img src="http://img30.360buyimg.com/cms/jfs/t3235/82/2302056846/90205/a9d6eec1/57df8924Nd56326b5.png" alt="" class="balloon-img-active"/>
                    <img src="http://img30.360buyimg.com/cms/jfs/t3046/309/2271453327/196729/a30c84c1/57dfa7d4N0eeb2ec1.png" alt="" class="balloon-img-no-active"/>
                    <img src="http://img14.360buyimg.com/cms/jfs/t3106/364/2468944530/38532/ec9f0258/57e0dcfcN85d9f938.png" alt="" class="balloon-img-brand"/>
                    <span class="balloon-text">小米小米小米小米</span>
                </span>
                <span class="balloon-to balloon-no-active banner-balloon">
                    <img src="http://img30.360buyimg.com/cms/jfs/t3235/82/2302056846/90205/a9d6eec1/57df8924Nd56326b5.png" alt="" class="balloon-img-active"/>
                    <img src="http://img30.360buyimg.com/cms/jfs/t3046/309/2271453327/196729/a30c84c1/57dfa7d4N0eeb2ec1.png" alt="" class="balloon-img-no-active"/>
                    <img src="http://img10.360buyimg.com/cms/jfs/t3238/137/2414601070/21874/535bc27f/57e0dcfcN7298a2f6.png" alt="" class="balloon-img-brand"/>
                    <span class="balloon-text">魅族魅族魅族魅族</span>
                </span>
            </div>
        </div>
        <div class="banner-status-wrap banner-status-active" id="bannerStatusWrap">
            <!-- banner-status-active、banner-status-wks、banner-status-yjs -->
                <div class="banner-ani banner-ani-rope">
                    <img src="http://img13.360buyimg.com/cms/jfs/t3301/161/2325139147/34091/b1be51b6/57dfdaf7N36b21bf2.png" alt="" class="banner-ani-rope-active"/>
                    <img src="http://img30.360buyimg.com/cms/jfs/t3259/182/2433158820/64042/57e4dd4/57e11604Na1ba2db3.png" alt="" class="banner-ani-rope-yjs"/>
                </div>
                <div class="banner-ani banner-ani-joy"><img src="http://img30.360buyimg.com/cms/jfs/t3217/164/2326929637/74925/2d451599/57dfdaf7Ne066f6ce.png" alt=""/></div>

                <div class="banner-ani banner-ani-btn">
                    <img src="http://img12.360buyimg.com/cms/jfs/t3079/181/2369165304/38627/11d30cbb/57dfdaf7Nce07c048.png" alt="" class="banner-ani-btn-active"/>
                    <img src="http://img10.360buyimg.com/cms/jfs/t3304/56/2425710266/182522/3711ab0d/57e11be9N6622ea44.png" alt="" class="banner-ani-btn-yjs"/>
                </div>
                <div class="banner-ani banner-ani-btn-text"><img src="http://img14.360buyimg.com/cms/jfs/t3286/207/2398056037/13032/66d78972/57dfdaf7N0a26e064.png" alt="" class="banner-ani-btn-text-daqi"/><img
                        src="http://img10.360buyimg.com/cms/jfs/t3241/96/2431014972/9048/6d743729/57e10f14N52dfb393.png" alt="" class="banner-ani-btn-text-wks"/><img
                        src="http://img13.360buyimg.com/cms/jfs/t3163/62/2475907306/6022/65bc2551/57e110aaNeba2314c.png" alt="" class="banner-ani-btn-text-yjs"/></div>
                <div class="banner-ani banner-ani-gas"><img src="http://img14.360buyimg.com/cms/jfs/t3067/342/2353427324/2517/6c407c6b/57dfdaf6N6a713957.png" alt=""/></div>
        </div>
    </div>
    <!-- E banner -->
    <!-- S floor -->
    <div class="wrap-floor" id="wrapFloor">

    </div>
    <!-- E floor -->
</div>
<!-- E wrapper -->
<script id="branchHallTpl" type="text/x-template">
    <div class="z-three">
        <% obj.list.forEach(function(item, index){ %>
        <a href="http://item.m.jd.com/ware/view.action?wareId=<%= item.skuId %>" target="_blank">
            <img src="<%= item.image %>" width="80%" height="auto" data-jumpUrl="<%= item.linkType %>,<%= item.link %>" data-event_param="<%= obj.groupName %>_<%= item.name %>_<%= item.link %>" />
            <span class="goods-name"><%= item.name %></span>
            <span class="goods-price"><%= item.jdPrice %></span>
        </a>
        <% }) %>
    </div>
</script>
<script id="branchHallHdTpl" type="text/x-template">
    <% obj.list.forEach(function(item, index){ %>
    <a href="<%= item.url %>" target="_blank">
        <img src="<%= item.pictureUrl %>" width="100%" height="auto"
             data-jumpUrl="<%= item.linkType %>,<%= item.link %>"
             data-event_param="<%= obj.groupName %>_<%= item.name %>_<%= item.link %>"
             style="position:relative;z-index=2;"/>
    </a>
    <% }) %>
</script>
<script type="text/javascript" src="js/spin.min.js"></script>
<script type="text/javascript" src="js/zepto.js"></script>
<script type="text/javascript" src="js/jworker.js"></script>
<script type="text/javascript" src="js/request.js"></script>
<script type="text/javascript">
    $(function(){


        //当前日期顺序对应品牌商品组id：
        var brandsGoods = ['00133338','00133339','00133340','00133341'];//360、乐视、小米、魅族
        var brandsAds = '00085912';
        //var brandsDate = ['0927','0928','0929','0930'];
        var brandsDate = ['0919','0920','0921','0922'];
        var curIds = '';
        var curDate = new Date();
        var curDateMonth = curDate.getMonth()+1;
        var curDateDay = curDate.getDate();
        var curDateIndex = 0;//默认从品牌中第一个开始排序
        var initNo = 0;//商品renderIndex
        var initAdNo = 0;//广告renderIndex
        $(brandsDate).each(function(i,k){
            if(curDateMonth == parseInt(k.substr(0,2)) && curDateDay == parseInt(k.substr(2,2))){
                curDateIndex = i;
                curIds += brandsGoods[i]
            }
        })
        $(brandsGoods).each(function(i,k){
            if(i != curDateIndex){
                curIds += ','+k;
            }
        })
        /* @fixme:all the code up */

        /* slider */
        var slider = {
            //判断设备是否支持touch事件
            touch:('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch,
            slider:document.getElementById('bannerBalloonDiv'),

            //事件
            events:{
                index:curDateIndex,     //显示元素的索引
                slider:document.getElementById('bannerBalloonDiv'),
                statusWrap:$('#bannerStatusWrap'),
                icon:$('#bannerBalloonDiv .banner-balloon'),
                marginLeftBase:290,
                handleEvent:function(event){
                    var self = this;     //this指events对象
                    if(event.type == 'touchstart'){
                        self.start(event);
                    }else if(event.type == 'touchmove'){
                        self.move(event);
                    }else if(event.type == 'touchend'){
                        self.end(event);
                    }
                },
                //滑动开始
                start:function(event){
                    var touch = event.targetTouches[0];     //touches数组对象获得屏幕上所有的touch，取第一个touch
                    startPos = {x:touch.pageX,y:touch.pageY,time:+new Date};    //取第一个touch的坐标值
                    isScrolling = 0;   //这个参数判断是垂直滚动还是水平滚动
                    this.slider.addEventListener('touchmove',this,false);
                    this.slider.addEventListener('touchend',this,false);
                },
                //移动
                move:function(event){
                    //当屏幕有多个touch或者页面被缩放过，就不执行move操作
                    if(event.targetTouches.length > 1 || event.scale && event.scale !== 1) return;
                    var touch = event.targetTouches[0];
                    endPos = {x:touch.pageX - startPos.x,y:touch.pageY - startPos.y};
                    isScrolling = Math.abs(endPos.x) < Math.abs(endPos.y) ? 1:0;    //isScrolling为1时，表示纵向滑动，0为横向滑动
                    if(isScrolling === 0){
                        event.preventDefault();      //阻止触摸事件的默认行为，即阻止滚屏
                        //this.slider.className = 'cnt';
                        //this.slider.style.left = -this.index*600 + endPos.x + 'px';
                    }
                },
                //滑动释放
                end:function(event){
                    var duration = +new Date - startPos.time;    //滑动的持续时间
                    var that = this;
                    if(isScrolling === 0){    //当为水平滚动时
                        this.icon.eq(this.index).removeClass('balloon-active').addClass('balloon-no-active');
                        if(Number(duration) > 10){
                            //判断是左移还是右移，当偏移量大于10时执行
                            if(endPos.x > 10){
                                if(this.index !== 0) {
                                    this.index -= 1;
                                    this.statusWrap.removeClass('banner-status-wrap-show').addClass('banner-status-wrap-hide');
                                    setTimeout(function(){
                                        that.statusWrap.removeClass('banner-status-wrap-hide').addClass('banner-status-wrap-show');
                                    },500);
                                }
                            }else if(endPos.x < -10){
                                if(this.index !== this.icon.length-1) {
                                    this.index += 1;
                                    this.statusWrap.removeClass('banner-status-wrap-show').addClass('banner-status-wrap-hide');
                                    setTimeout(function(){
                                        that.statusWrap.removeClass('banner-status-wrap-hide').addClass('banner-status-wrap-show');
                                    },500);
                                }
                            }
                        }
                        this.icon.eq(this.index).removeClass('balloon-no-active').addClass('balloon-active');
                        /* banner-status-active、banner-status-wks、banner-status-yjs */
                        if(this.index > curDateIndex){
                            this.statusWrap.removeClass('banner-status-active banner-status-yjs').addClass('banner-status-wks');
                        }
                        else if(this.index < curDateIndex){
                            this.statusWrap.removeClass('banner-status-active banner-status-wks').addClass('banner-status-yjs');
                        }
                        else{
                            this.statusWrap.removeClass('banner-status-yjs banner-status-wks').addClass('banner-status-active');
                        }
                        this.slider.style.marginLeft = this.marginLeftBase/(320/4.54) * (1 - 2*this.index) + 'rem';
                    }
                    //解绑事件
                    this.slider.removeEventListener('touchmove',this,false);
                    this.slider.removeEventListener('touchend',this,false);
                }
            },

            //初始化
            init:function(){
                var self = this;     //this指slider对象
                if(!!self.touch) self.slider.addEventListener('touchstart',self.events,false);    //addEventListener第二个参数可以传一个对象，会调用该对象的handleEvent属性
                self.slider.style.marginLeft = self.events.marginLeftBase/(320/4.54) * (1 - 2*self.events.index) + 'rem';
                self.events.icon.eq(self.events.index).removeClass('balloon-no-active').addClass('balloon-active');
            }
        };


        floorInit();
        function floorInit(){
            slider.init();//初始化slider
            for( var i=0;i<brandsGoods.length;i++){
                var oldHtml = $('.wrap-floor').html();
                $('.wrap-floor').html(oldHtml + '<div id=wrapFloor' + i + '><div class="floor-hd"></div><div class="floor-bd"></div></div>');
            }
            renderRequst(0);//发送楼层标题请求
            renderRequst(1);//发送楼层商品请求
            //renderHeader();
        }

        function renderRequst(type){
            //请求成功渲染模块
            var success = function(data) {

                var option = {
                    events: {
                        "tap .z-two": "gotoBranchHall",
                    },
                    init: function() {
                        if(type == 1){
                            //为图片位置赋默认高度
                            var jPushList = this.$el.find("#wrapFloor").children("a"),
                                    ws = 351,
                                    hs = Math.floor(ws * 290 / 345);
                            jPushList.css("height", hs + "px");
                        }
                    },
                    gotoBranchHall: function(e) {
                        //do something
                        console.log(1);
                    }
                }
                if(type == 1){
                    var optionDom = "#wrapFloor"+initNo+" .floor-bd";
                    if(initNo == curDateIndex){
                        optionDom = "#wrapFloor0 .floor-bd";
                        //render(option, "#wrapFloor0 .floor-bd", $("#branchHallTpl").html(), data);
                    }
                    else if(initNo < curDateIndex ){
                        var tIndex = initNo+1;
                        optionDom = "#wrapFloor"+ tIndex +" .floor-bd";
                        //render(option, "#wrapFloor"+ tIndex +" .floor-bd", $("#branchHallTpl").html(), data);
                    }
                    else{
                        //render(option, "#wrapFloor"+initNo+" .floor-bd", $("#branchHallTpl").html(), data);
                    }
                    render(option, optionDom, $("#branchHallTpl").html(), data);
                    $(optionDom).addClass('wrap-flr'+initNo);
                    initNo++;
                }
                else if(type ==0){
                    var optionHdDom = "#wrapFloor"+initAdNo+" .floor-hd";
                    if(initAdNo == curDateIndex){
                        optionHdDom = "#wrapFloor0 .floor-hd";
                    }
                    else if(initAdNo < curDateIndex ){
                        var tIndex = initAdNo+1;
                        optionHdDom = "#wrapFloor"+ tIndex +" .floor-hd";

                    }
                    render(option, optionHdDom, $("#branchHallHdTpl").html(), data);
                    initAdNo++;
                }
                else{
                    render(option, "body", $("#branchHallTpl").html(), data);
                }

            }
            getRequestData(success,type);
        }

        function getRequestData(success,type) {
            var handleData = function(data) {
                if(type == 1){
                    if (data.subCode == "0") {

                        $(data.list).each(function(i,k){
                            var result = {
                                list: data.list[i].groupInfoList[0] ? data.list[i].groupInfoList[0].groupInfoList : [],
                                groupName: data.list[i].groupInfoList[0] ? data.list[i].groupInfoList[0].groupName : ""
                            };
                            //console.log('before success',result.list);
                            success(result);
                        })

                    } else {
                        util.toast("网络跑累了，请稍候再来！");
                    }
                }
                else if(type == 0){
                    if (data.subCode == "0") {

                        var tDataList = data.advertInfos[0].list;
                        var resultData = data;
                        var result = {
                            list: '',
                            groupName: ''
                        }
                        $(tDataList).each(function(i,k){
                            resultData.advertInfos[0].list = [];
                            resultData.advertInfos[0].list.push(tDataList[i]);
                            result.list = resultData.advertInfos[0].list;

                            success(result);
                        })
                        /*var result = {
                         list: data.advertInfos[0] ? data.advertInfos[0].list : [],
                         groupName: data.advertInfos[0] ? data.advertInfos[0].groupName : ""
                         };
                         success(result);*/

                    } else {
                        util.toast("网络跑累了，请稍候再来！");
                    }
                }
            };

            var optionUrl = [
                "http://ngw.m.jd.com/client.action?functionId=getBabelAdvertInfo&client=wh5&clientVersion=1.0.0",
                "http://ngw.m.jd.com/client.action?functionId=getBabelProductInfo&client=wh5&clientVersion=1.0.0"
            ];
            var curData = '';
            if(type == 0){
                curData = brandsAds;
            }
            else if(type == 1){
                curData = curIds;
            }
            var option = {
                url: optionUrl[type],
                data: {
                    ids: curData
                },
                success: handleData
            };
            request(option);
        }

        function render(option, el, template, data) {
            var view = jw.view(option);
            new view({
                el: el,
                template: template,
                data: data
            }).render();
        };

        //上报埋点并跳转（非必须）
        function sendAndJump($ct, eventId) {
            var event_param = $ct.attr("data-event_param"),
                    jumpUrl = $ct.attr("data-jumpUrl");
            util.sendMPing({
                event_id: eventId,
                event_param: event_param
            });
            if (jumpUrl) {
                spinner.stop();
                setTimeout(function() {
                    util.jump(jumpUrl);
                }, 200);
            }
        }



    })

</script>

<script src="//static.360buyimg.com/jdcsh/babel/dist/js/babelparser.js" async defer></script>
</body>
</html>