* {
  margin: 0;
  padding: 0; }

body, html {
  overflow-x: hidden; }

.clearfloat:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0; }

.clearfloat {
  overflow: hidden;
  _zoom: 1; }

.scroll {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch; }

a {
  color: #301d1d; }

.dib {
  display: inline-block;
  vertical-align: top; }

.g-header .i-goback {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 3rem;
  height: 3rem;
  background-image: url(http://img10.360buyimg.com/cms/jfs/t2443/234/1785927383/1487/aff74f49/56de9a8cN2e1bde63.png);
  background-size: 100% 100%; }

.g-header {
  position: relative;
  padding: 0 0.625rem;
  z-index: 99;
  background-image: linear-gradient(top to bottom, #f15353, #f15353);
  background-image: -webkit-linear-gradient(top, #f15353, #f15353);
  background-image: -moz-linear-gradient(top, #f15353, #f15353);
  height: 5.5rem;
  overflow: hidden; }

.g-header .title {
  display: block;
  height: 5.5rem;
  padding: 0 4rem;
  line-height: 5.5rem;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.banner {
  width: 100%;
  overflow: hidden;
  position: relative; }

.banner .list-b {
  position: relative;
  z-index: 1; }

.banner .list-b li {
  height: 18.625rem;
  width: 40rem;
  display: inline-block;
  position: absolute; }

.banner img {
  width: 100%; }

.banner .b-control-bar {
  position: absolute;
  left: 0;
  bottom: -1.875rem;
  width: 100%;
  height: 1.875rem;
  z-index: 2; }

.banner .list-b-num {
  position: absolute;
  left: 0;
  top: -1.875rem;
  width: 100%;
  text-align: center; }

.banner .list-b-num li {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0 0.3125rem; }

.banner .list-b-num li a {
  width: 40rem;
  height: 18.625rem;
  display: block;
  border-radius: 50%;
  border: 0.0625rem solid #fff; }

.banner .list-b-num li.current a {
  background-color: #fff; }

.wrap-flr {
  margin-bottom: 1.25rem; }

.goods-list li {
  width: 20rem;
  height: 31.25rem;
  background-color: #fff;
  float: left;
  position: relative;
  border-bottom: 0.0625rem solid #f5f5f5; }

.goods-list li:nth-child(2n-1) {
  border-right: 0.0625rem solid #f5f5f5;
  width: 19.9375rem; }

.goods-list .j-pic {
  width: 17.5rem;
  height: 17.5rem;
  margin: 1.875rem 1.25rem 0.25rem; }

.goods-list li img {
  width: 100%; }

.goods-list .title {
  font-size: 1.5rem;
  height: 3.5rem;
  overflow: hidden;
  line-height: 1.75rem;
  color: #3b3b3b;
  margin-bottom: 0.75rem; }

.goods-list .detail {
  padding: 0.625rem 1.25rem 0 1.25rem; }

.goods-list .j-pic-extra {
  position: absolute;
  top: 3.125rem;
  left: 2.5rem;
  width: 6.8125rem;
  height: 1.875rem;
  line-height: 1.875rem;
  color: #61497f;
  border: 0.125rem solid #61497f;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 0.9375rem; }

.goods-list .discount-text {
  font-size: 1.125rem;
  font-weight: bold;
  height: 1.5rem;
  overflow: hidden;
  line-height: 1.5rem;
  margin: 0.3125rem 0 0.8125rem 0; }

.goods-list .j-jd-price {
  font-size: 1.75rem;
  color: #c51c2a;
  font-weight: bold;
  max-width: 7.25rem;
  overflow: hidden;
  margin-right: 0.3125rem;
  margin-top: 0.3125rem;
  height: 1.875rem;
  line-height: 1.875rem;
  margin-bottom: 1.0625rem; }

.goods-list .j-sku-price {
  max-width: 5.25rem;
  overflow: hidden;
  font-size: 1.125rem; }

.goods-list .tag-collection, .goods-list .tag-discount {
  text-align: center;
  padding: 0.1875rem 0.3125rem;
  border-radius: 0.1875rem;
  font-size: 1rem; }

.goods-list .detail-tag, .goods-list .tag-discount {
  margin-top: 0.5rem; }

.goods-list .tag-collection {
  background-color: #301d1d;
  color: #fff; }

.goods-list .tag-discount {
  background-color: #c51c2a;
  color: #fff; }

.goods-list .dib {
  vertical-align: middle; }

.fIcon {
  background: url(http://img11.360buyimg.com/cms/jfs/t2080/259/2557113240/7200/718d9a13/56e0f0acN79c1b068.png) no-repeat;
  background-size: 37.25rem 2.5rem; }

.floor-title {
  text-align: center;
  padding: 2.1875rem 0 1.25rem;
  background-color: #f5f5f5;
  border-bottom: 2px solid #c0a7de; }

.floor-title .tit-text {
  color: #61497f;
  font-size: 1.5rem;
  display: block; }

.floor-title .tit-extra {
  color: #999999;
  font-size: 0.5rem;
  font-weight: normal; }

.floor-title .tit-extra em {
  color: #c51c2a; }

.floor-title .fIcon {
  width: 2.625rem;
  height: 2.625rem;
  margin-right: 0.625rem; }

.floor-title .dib {
  vertical-align: middle; }

.icon-coupon {
  background-position: 0 0; }

.icon-weekly-recommend {
  background-position: -3.125rem 0; }

.icon-today-deals {
  background-position: -6.5625rem 0; }

.icon-brand-events {
  background-position: -9.8125rem 0; }

.icon-smartphone {
  background-position: -12.9375rem 0; }

.icon-smart-hardware {
  background-position: -16.125rem 0; }

.icon-audio {
  background-position: -19.625rem 0; }

.icon-computer {
  background-position: -23.25rem 0; }

.icon-automotive {
  background-position: -26.75rem 0; }

.icon-more-brands {
  background-position: -30.5rem 0; }

.s-tit {
  font-size: 1.25rem;
  color: #076160;
  margin-bottom: 0.9375rem;
  text-align: center; }

.tab-c {
  display: none;
  background-color: #fff; }

.tab-c.current, .current .i-trangle {
  display: block; }

.tab-tit ul {
  overflow: scroll;
  white-space: nowrap;
  font-size: 0; }

.tab-tit .tab-t {
  position: relative;
  text-align: center;
  white-space: normal;
  font-size: 1.125rem;
  font-weight: bold;
  border-right: 1px solid #f2f2f2; }

.type-2 .tab-t {
  width: 50%;
  font-size: 1.5rem; }

.type-4 .tab-t {
  width: 25%; }

.tab-tit .tab-t a {
  display: block;
  padding: 0 1.0625rem;
  line-height: 4.375rem;
  background-color: #c0a7de;
  color: #644d81;
  height: 4.375rem;
  z-index: 1;
  position: relative; }

.tab-tit .current a {
  color: #644d81;
  background-color: #ffffff;
  font-weight: bold; }

.tab-tit .tab-t3 a, .tab-tit .tab-t4 a {
  line-height: 1.1;
  padding-top: 0.9375rem;
  height: 3.4375rem; }

.i-trangle {
  display: block;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  margin-left: -0.46875rem;
  display: none;
  background: url(http://img12.360buyimg.com/cms/jfs/t2332/67/2540798324/1034/1e628a56/56e164e0N03f846d4.png) no-repeat;
  width: 0.9375rem;
  height: 0.5rem; }

.it-weekly-recommend .tab-tit, .it-weekly-recommend .tab-tit ul {
  height: 5rem;
  overflow-y: hidden; }

.brand-list {
  padding: 0.625rem 0.625rem 0 0.625rem; }

.brand-list img {
  width: 100%; }

.brand-list li {
  margin-bottom: 0.625rem;
  width: 19.0625rem;
  float: right; }

.brand-list li:nth-child(2n) {
  margin-right: 0.625rem;
  float: left; }

.brand-list .jItem-1 {
  margin-right: 0;
  width: 100%; }

.list-moreBrand {
  margin: 0 -1.25rem 0 0;
  padding: 1.875rem 0 0 1.25rem;
  background-color: #f5f5f5; }

.list-moreBrand li {
  width: 8.4375rem;
  height: 7rem;
  margin: 0 1.25rem 1.25rem 0;
  float: left; }

.list-moreBrand img {
  width: 100%;
  height: 100%; }

.list-moreLink {
  margin-top: 0.625rem; }

.list-moreLink li {
  height: 5.625rem;
  text-align: center;
  line-height: 5.625rem; }

.list-moreLink li a {
  font-size: 1.5rem;
  color: #fff;
  display: block;
  background-color: #dfba88; }

.list-moreLink .item2 a {
  background-color: #7cafde; }

.list-moreLink .item3 a {
  background-color: #c5b5d5; }

.list-moreLink li a:hover {
  background-color: #d23f4b; }

.icon-arrow {
  background-position: -36.625rem 0;
  width: 0.75rem;
  height: 1.0625rem;
  vertical-align: middle;
  margin-left: 0.9375rem;
  margin-bottom: 0.1875rem; }

.hideArea {
  position: relative; }

.keywords {
  background-color: #fff; }

.keywords .kw-tit {
  color: #3b3b3b;
  font-size: 1.75rem;
  text-align: center;
  height: 5rem; }

.keyword-list {
  padding-left: 1.25rem; }

.keyword-list li {
  margin-bottom: 1.25rem;
  line-height: 1;
  margin-right: 1.25rem;
  float: left;
  width: 18rem;
  height: 4.25rem;
  border: 0.0625rem solid #3b3b3b;
  text-align: center; }

.keyword-list li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 4.25rem;
  color: #3b3b3b; }

.keyword-list .words-wrap {
  display: block;
  color: #3b3b3b;
  font-size: 1.25rem;
  overflow: hidden;
  max-height: 2.5625rem; }

.it-today-deals .tab-tit li {
  border-right: none; }

.it-today-deals .tab-tit ul {
  height: 4.375rem;
  overflow: hidden; }

.ms-list {
  padding: 0.625rem 0.625rem 0 0.625rem; }

.ms-list li {
  height: 17.5rem;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 0.625rem;
  float: none;
  width: 100%;
  border: 0 none; }

.ms-list li:nth-child(2n-1) {
  width: 100%;
  margin: 0 0.8125rem 0.8125rem 0;
  border: 0 none; }

.ms-list .title {
  font-size: 1.25rem;
  height: 2.625rem;
  overflow: hidden;
  margin-bottom: 3.75rem;
  line-height: 1.1; }

.ms-list .j-pic {
  width: 15.625rem;
  height: 15.625rem;
  float: left;
  margin: 1.875rem 1.75rem 0 1.25rem;
  padding: 0;
  position: relative; }

.ms-list .j-pic img {
  width: 100%; }

.ms-list .detail {
  padding: 2.5rem 0.625rem 0 0.625rem; }

.ms-list .soldOut {
  position: absolute;
  left: 0;
  top: 0;
  background: url(http://img13.360buyimg.com/cms/jfs/t2098/264/1857725786/14658/a42c01c5/56e0f082N0736d3dd.png) no-repeat center;
  width: 13.125rem;
  height: 13.125rem;
  display: none;
  background-size: 100%;
  font-size: 1.25rem; }

.ms-list .jEnd .soldOut {
  display: block; }

.jEnd .title, .jEnd .j-jd-price, .jEnd .j-sku-price {
  color: #726a6a; }

.jEnd .detail-tag .tag-collection, .jEnd .tag-discount {
  background-color: #726a6a; }

.ms-list .tm-mask {
  width: 13.125rem;
  height: 3.25rem;
  line-height: 3.25rem;
  text-align: center;
  background: rgba(48, 29, 29, 0.6);
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 1.875rem;
  font-size: 1.375rem; }

.ms-list .list-ms-line {
  position: absolute;
  left: 18.75rem;
  top: 17.4375rem;
  width: 21.25rem;
  height: 0.0625rem;
  background-color: #f5f5f5; }

.nav {
  height: 5.625rem;
  margin: 0.9375rem 0 0 0; }

.nav-wrap {
  height: 5.625rem; }

.nav-list {
  overflow-x: scroll;
  font-size: 0;
  white-space: nowrap; }

.nav-list li.tab-t {
  width: 13.75rem;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  overflow: hidden;
  border-right: 0 none; }

.nav-list li span {
  height: 5.625rem;
  display: block;
  color: #61497f;
  width: 100%;
  line-height: 5.625rem;
  font-size: 1.5rem;
  background-color: #c0a7de; }

.nav-list li.active span {
  background-color: #fff; }

.swiper-slide, .swiper-wrapper {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  width: 100%; }

.swiper-pagination, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0); }

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-slide, .swiper-wrapper {
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-fles-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0; }

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-pagination-bullet {
  width: 0.5625rem;
  height: 0.5625rem;
  display: inline-block;
  background: url(http://img13.360buyimg.com/cms/jfs/t2158/51/1684036585/1066/a35a1a08/56d3d6b9N3004ee18.png) no-repeat;
  opacity: 1;
  background-size: 100%; }

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 0.5625rem;
  height: 0.5625rem;
  background: url(http://img11.360buyimg.com/cms/jfs/t1978/84/2432022361/1024/f0babdf6/56d3d9b6Nb73620d2.png) no-repeat;
  background-size: 100%; }

.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-container-coverflow .swiper-wrapper {
  -ms-perspective: 1200px; }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

@-webkit-keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0); }
  8.33333333% {
    -webkit-transform: rotate(30deg); }
  16.66666667% {
    -webkit-transform: rotate(60deg); }
  25% {
    -webkit-transform: rotate(90deg); }
  33.33333333% {
    -webkit-transform: rotate(120deg); }
  41.66666667% {
    -webkit-transform: rotate(150deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  58.33333333% {
    -webkit-transform: rotate(210deg); }
  66.66666667% {
    -webkit-transform: rotate(240deg); }
  75% {
    -webkit-transform: rotate(270deg); }
  83.33333333% {
    -webkit-transform: rotate(300deg); }
  91.66666667% {
    -webkit-transform: rotate(330deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0); }
  8.33333333% {
    transform: rotate(30deg); }
  16.66666667% {
    transform: rotate(60deg); }
  25% {
    transform: rotate(90deg); }
  33.33333333% {
    transform: rotate(120deg); }
  41.66666667% {
    transform: rotate(150deg); }
  50% {
    transform: rotate(180deg); }
  58.33333333% {
    transform: rotate(210deg); }
  66.66666667% {
    transform: rotate(240deg); }
  75% {
    transform: rotate(270deg); }
  83.33333333% {
    transform: rotate(300deg); }
  91.66666667% {
    transform: rotate(330deg); }
  100% {
    transform: rotate(360deg); } }
.swiper-slide a {
  height: 18.5rem;
  width: 40rem;
  display: block; }

.swiper-slide img {
  height: 18.5rem;
  width: 40rem; }

.timeBar {
  padding: 1.25rem 0 1.25rem 0;
  text-align: center;
  color: #3b3b3b;
  font-size: 1.25rem;
  border-bottom: 0.125rem solid #f5f5f5; }

.t-time {
  font-size: 1.25rem;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  font-weight: bold;
  background-color: #3b3b3b;
  vertical-align: middle;
  margin: 0 0.5rem; }

.nav-wrap .scroll, .nav .scroll {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%; }

.it-weekly-recommend .nav-wrap {
  height: 5rem; }

.it-today-deals .nav-wrap {
  height: 4.375rem; }

.fixed {
  position: fixed; }

.it-today-deals .tab-tit {
  background-color: #f2f2f2; }

.coupon-bar img {
  width: 100%; }

/* floor-wrap */
.floor-wrap .goods-list li {
  height: 33.875rem; }

.floor-wrap .goods-list .j-jd-price {
  margin-top: 0;
  margin-bottom: 0; }

.floor-wrap .goods-list .j-sku-price {
  color: #999999;
  vertical-align: middle; }

.floor-wrap .goods-list .tag-discount {
  display: block;
  width: 6.875rem; }

.floor-wrap .goods-list .detail-tag {
  margin-top: 1.125rem;
  margin-bottom: 0.5rem; }

.floor-wrap .floor-block {
  margin-bottom: 1.25rem; }

/*# sourceMappingURL=appliance.css.map */
